<nav class="navbar navbar light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue;">Fiery Restaurant</h1>
    <div class="d-flex">
      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add Order</button>
      <a routerLink="makepayment"> <button type="button" style="margin-left: 5px;" class="btn btn-success">Payment</button></a>
    </div>
  </div>
</nav>
<table class="table mt-3 " >
  <thead>
    <tr>
      <th scope="col">Order No</th>
      <th scope="col">Contact Name</th>
      <th scope="col">Order Date</th>
      <th scope="col">Item Ordered</th>
      <th scope="col"> Total Order</th>
      <th scope="col">taxTotal</th>
      <th scope="col">Grand Toatal</th>
      
    </tr>``
  </thead>
  <tbody>
    <tr *ngFor="let row of orderData ">

      <td>{{row.orderNo}}</td>
      <td>{{row.contactName}}</td>
      <td>{{row.orderDate}}</td>
      <td>{{row.itemsOrdered}}</td>
      <td>{{row.totalOrder}}</td>
      <td>{{row.taxTotal}}</td>
      <td>{{row.grandTotal}}</td>


    </tr>
  </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Order Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Order No</label>
            <input type="number" formControlName="orderNo" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contact Name</label>
            <input type="text" formControlName="contactName" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Order Date</label>
            <input type="date" formControlName="orderDate" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Item Ordered</label>
            <input type="text" formControlName="itemsOrdered" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"> Total Order</label>
            <input type="number" formControlName="totalOrder" class="form-control" id="exampleInputPassword1">
          </div>
          
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">taxTotal</label>
            <input type="number" formControlName="taxTotal" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">grandTotal </label>
            <input type="number" formControlName="grandTotal" class="form-control" id="exampleInputPassword1">
          </div>
        </form>

      </div>
      
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="postOrderDetails()" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>